body{
  background-color: #CBDDF5;
  letter-spacing: .05rem;
}

h3{
  font-family: 'Indie Flower', cursive;
  font-size: 1.5rem;
  letter-spacing: .08rem;
  color: rgb(34, 34, 34);
}

span{
  font-family: 'Raleway', sans-serif;
}

/* header */
#header{
  background-color: #ffffff46;
  width: 98%;
  height: 128px;
  margin: 1% 1%;
  -ms-flex-line-pack: center;
      align-content: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

/* header animation */
#header-animation{
  width: 100%;
  background-size: contain;
  background-position: 0 0;
  position: absolute;
  background-repeat: no-repeat;
  z-index: 1;
}

#mountain{
  stroke-dasharray: 1632.703857421875px;
  stroke-dashoffset: 0;
  -webkit-animation: mountain 3s ease-in;
          animation: mountain 3s ease-in;
}

@-webkit-keyframes mountain{
  from{stroke-dashoffset: 1632.703857421875px};
}

@keyframes mountain{
  from{stroke-dashoffset: 1632.703857421875px};
}

.line-animate{
  stroke: #80050B; 
  stroke-dasharray: 1572.5px;
  -webkit-animation: lineAnimation 2s ease-out;
          animation: lineAnimation 2s ease-out;
}

@-webkit-keyframes lineAnimation{
  from{stroke-dashoffset: -1572.5px};
  to{stroke-dashoffset: 0};
}

@keyframes lineAnimation{
  from{stroke-dashoffset: -1572.5px};
  to{stroke-dashoffset: 0};
}

/* navbar */
#navbar{
  /* lighthouse icon to go here */
}

#name {
  font-family: 'Megrim', cursive;
  font-size: 1.2rem;
  text-shadow: 1px 1px #ffffff;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0 0 0 3rem; 
  padding: 1rem 2rem;
  min-width: 300px;
  z-index: 2;
}

/* hero */
#hero{
  padding: 12rem 0 0 0;
  left: 0;
  position: absolute;
}

/* hero animation */
#hero-animation{}

#right-wave{
  -webkit-transform-origin: bottom center;
          transform-origin: bottom center;
-webkit-animation: wave 2.75s ease-in-out 1.5s infinite alternate;
        animation: wave 2.75s ease-in-out 1.5s infinite alternate;
}

#mid-right-wave{
-webkit-transform-origin: top left;
        transform-origin: top left;
-webkit-animation: wave 2s ease-in-out .75s infinite alternate;
        animation: wave 2s ease-in-out .75s infinite alternate;
}

#left-wave{
  -webkit-transform-origin: top right;
          transform-origin: top right;
-webkit-animation: wave 1.75s ease-in-out .25s infinite alternate;
        animation: wave 1.75s ease-in-out .25s infinite alternate;
}

#mid-left-wave{
-webkit-transform-origin: top center;
        transform-origin: top center;
-webkit-animation: wave 1.75s ease-in-out .5s infinite alternate;
        animation: wave 1.75s ease-in-out .5s infinite alternate;
}

@-webkit-keyframes wave{
to{-webkit-transform: rotate(1deg);transform: rotate(1deg)}
}

@keyframes wave{
to{-webkit-transform: rotate(1deg);transform: rotate(1deg)}
}

@-webkit-keyframes rightW{
  to{-webkit-transform: scale(1)rotate(8deg);transform: scale(1)rotate(8deg)};
}

@keyframes rightW{
  to{-webkit-transform: scale(1)rotate(8deg);transform: scale(1)rotate(8deg)};
}

/* about panel */
#summary {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -ms-flex-positive: 1;
      flex-grow: 1;
  margin: 0 3rem;
}

#title{
  font-family: 'Kalam', cursive;
  font-size: 1.2rem;
}

#underline{
  height: 2px;
  border-radius: 30px;
  background-color: #CC0811;
  -webkit-animation: underline 2s ease-out 3s 1 right normal forwards;
          animation: underline 2s ease-out 3s 1 right normal forwards;
}

@-webkit-keyframes underline{
  from{ width: 0%};
  to{width: 100%}
}

@keyframes underline{
  from{ width: 0%};
  to{width: 100%}
}

#description{
  font-family: 'Nixie One', cursive;
  line-height: 1.5em;
}

/* skills container */
#skills{
  position: relative;
  top: 31rem; 
  left: 0;
  z-index: 2;
}

/* flexbox containers and panels */
.container{
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100vw;
}

.panel{
  -ms-flex-preferred-size: calc( 28% - 4rem );
      flex-basis: calc( 28% - 4rem );
  padding: 2rem;
  margin: 1rem 2rem;
  min-width: 300px;
}

.stretch-panel{
  -ms-flex-preferred-size: 56%;
      flex-basis: 56%;
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  padding: 2rem;
  margin: 0 3rem;
  min-width: 300px;
}

/* skills panels */
.skills{
  background-color: #f5f5f53a;
  line-height: 2em;
}

.skills span {
  margin: 0 0.5em 0 0;
}

.beginner{
  color: #5E676B;
  font-size: 1em;
}

.intermediate{
  color: #88A7AC;
  font-size: 1.2em;
}

.advanced{
  color: #96BDD1;
  font-size: 1.25em;
}

/* responsive */
@media (max-width: 1285px){
  .skills{
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    text-align: center;
  }
}

@media (max-width:919px){
  #skills{
    position: relative;
    top: 50rem; 
    left: 0;
    z-index: 2;
  }
}

/* footer */
#footer{
  text-align: center;
  -ms-flex-line-pack: center;
      align-content: center;
}